<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mhealth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".otherdocs"></activity>
        <activity android:name=".ViewUploadsActivity" />
        <activity android:name=".otherUsers" />
        <activity
            android:name=".doc_nav"
            android:label="@string/title_activity_doc_nav" />
        <activity android:name=".chatImageDoc" />
        <activity android:name=".ChatImage" />
        <activity
            android:name=".user_nav"
            android:label="@string/title_activity_user_nav" />
        <activity android:name=".Doctors" />
        <activity android:name=".ChatDoctor" />
        <activity android:name=".DoctorNav" />
        <activity android:name=".ShowImagesActivity" />
        <activity android:name=".directions" />
        <activity android:name=".UploadTasks" />
        <activity android:name=".User" />
        <activity android:name=".Register" />
        <activity android:name=".Chat" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>